html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:100%;
  vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}
html, body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 16px;
  color: #222;
}
.clear {
  clear: both;
}
p {
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.4em;
  color: #444;
}
.main-info {
  margin: 0 auto;
  max-width: 1024px;
  height: 100vh;
  background: #e7e7e7;
}
.main-details {
  padding: 25px 35px;
  border-bottom: 2px solid #e7805e;
  background: #ededed;
}
.name h1 {
  margin: 10px 0;
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}
.name h2 {
  margin-left: 2px;
  font-size: 1.5em;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}
.main-area {
  padding: 0 40px;
}
.headshot {
  margin-right: 30px;
  width: 12.5%;
  float: left;
}
.headshot img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.name {
  float: left;
}
.contact-details {
  float: right;
}
.contact-details ul {
  margin-top: 2px;
  list-style-type: none;
  font-size: 0.7em;
}
.contact-details ul li {
  margin-bottom: 3px;
  color: #444;
}
.contact-details ul li a, a[href^=tel] {
  color: #444;
  text-decoration: none;
}
.contact-details ul li a:hover {
  color: #e7805e;
}
section {
  padding: 20px 0 0;
  border-top: 1px solid #dedede;
}
section:first-child {
  border-top: 0;
}
section:last-child {
  padding: 20px 0 10px;
}
.section-title {
  float: left;
  width: 25%;
}
.section-content {
  float: right;
  width: 72.5%;
}
.section-title h1 {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  color: #e7805e;
}
.section-content h2 {
  margin-bottom: -2px;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}
.sub-details {
  margin-bottom: 3px;
  font-size: 0.8em;
  font-style: italic;
}
.skills {
  margin-bottom: 20px;
  list-style: none;
  column-count:3;
  font-size: 1em;
  color: #444;
}
.skills ul li {
  margin-bottom: 3px;
}
.links {
  margin-bottom: 20px;
  list-style: none;
}
.links a {
  color: #2AABBA;
  font-style: italic;
  text-decoration: underline;
}
